menu "Transducer Firmware"
    # choice TRANSDUCER_HARDWARE_TARGET
    #     prompt "Hardware Target"
    #     default DIY3
    #     help
    #         Hardware target to use when compiling firmware.

    #     config DIY3
    #         bool "DIY3"
    #     config DIY4
    #         bool "DIY4"
    #     config DIY5
    #         bool "DIY5"
    # endchoice

    config TRANSDUCER_ULP_TOGGLE_GPIO
        bool "Toggle GPIO on ULP program start/stop"
        default "n"
        help
            Add ULP program instructions that will toggle GPIO_NUM_4 when the
            ULP program starts and stops. This is useful when debugging for
            verifying the sampling frequency using a scope.
endmenu
