[submodule "code/DIY3-DIY4/components/HULP"]
	path = code/DIY3-DIY4/components/HULP
	url = https://github.com/boarchuz/HULP
[submodule "code/DIY3-DIY4/components/arduino-libraries/ds3231"]
	path = code/DIY3-DIY4/components/arduino-libraries/ds3231
	url = https://github.com/rodan/ds3231
[submodule "code/DIY3-DIY4/components/arduino-libraries/MS5803_05"]
	path = code/DIY3-DIY4/components/arduino-libraries/MS5803_05
	url = https://github.com/benchittle/MS5803_05
