config SENSOR_RV3032
	bool "RV-3032 sensor"
	default y
	depends on DT_HAS_MICROCRYSTAL_RV3032_MFD_ENABLED
	depends on DT_HAS_MICROCRYSTAL_RV3032_SENSOR_ENABLED
	select I2C
	select MFD
	select RTIO_WORKQ if SENSOR_ASYNC_API
	help
	  Enable driver for RV-3032 I2C-based temperature sensor.

config SENSOR_RV3032_INIT_PRIORITY
	int "RV-3032 sensor driver init priority"
    depends on SENSOR_RV3032
	default 86
	help
      Init priority for the RV-3032 sensor driver. It must be
      greater than MFD_INIT_PRIORITY.