// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://docs.nordicsemi.com/bundle/nrf-connect-vscode/page/guides/ncs_configure_app.html#devicetree-support-in-the-extension

&i2c0 {
    rv3032: rv3032@51 {
		compatible = "microcrystal,rv3032-mfd";
		reg = <0x51>;
        int-gpios = <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        backup-switch-mode = "level";

        rv3032_rtc: rv3032-rtc {
            compatible = "microcrystal,rv3032-rtc";
        };
        
        rv3032_sensor: rv3032-sensor {
            compatible = "microcrystal,rv3032-sensor";
        };
	};
};
